@font-face {
    font-family: "Times New Roman";
    src: url("times-new-roman.ttf");
}
body{
    background-color: black;
    color: white;
    font-size: clamp(1.75em, 1em + 3vw, 2.5em);

}
#hd1{
    text-align: center;
    font-size: clamp(0.75em, 0.5em + 3vw, 2.5em);
}
a {
    text-decoration: none;
    color: white;
}
.img2 {
    max-height: 32px;
    max-width: 32px;
}
#spct{
   /* width: 70;  (largura=70%)*/
   margin-left: 15%;
   width: 70%;
}
.h236 {
    font-size: clamp(0.80em, 0.5em + 3vw, 2.5em);
    
}
#bolinha{
    font-size: clamp(0.30em, 0.1em + 3vw, 2.5em);
}
.data{
    font-size: clamp(0.60em, 0.1em + 3vw, 2.5em);
    opacity: 0.4;
}
.homesobre {
    font-size: clamp(0.55em, 0.3em + 1.5vw, 2.0em);
}
.errantemund{
    font-size: clamp(0.75em, 0.4em + 2vw, 2.0em);
}
.errantemundimgspan{
    display: inline-block;
    vertical-align: middle;
    
  
}
.errantemundspan{
    display: inline-block;
    vertical-align: middle;
   
}
#vertical{
    line-height: 0.50em;

}
.sodentrospan{
    font-size: clamp(0.75em, 0.5em + 3vw, 2.5em);
    margin-top: -25px;
}
#post1{
    height: 5em;
    width: 5em;
    background-color: rgb(70, 70, 70);
}
#post2{
    height: 5em;
    width: 5em;
    background-color: rgb(70, 70, 70);
}
#post3{
    height: 5em;
    width: 5em;
    background-color: rgb(70, 70, 70);
}
.post1div{
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 35%;
}
.post2div{
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 35%;
}
.post3div{
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 35%;
}